@import './styles/forms.scss';
@import './styles/variables';
@import './styles/date-picker.scss';

html, body, p {
  color: e9e9e9;
}

.app-list-page {
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
.type {
  &-apartment {
    color: #a72da3 !important;
  }

  &-condo {
    color: #d68000 !important;
  }

  &-house {
    color: #bf1818 !important;
  }

  
}
.btn.app-btn-main {
  border-color: #bf1818;
  color: #bf1818;

  &:hover, &:focus, &:active {
    background-color: #bf1818;;
    border-color: #bf1818;
    color: white;
    box-shadow: none;
  }
  &:disabled {
    cursor: auto;
    background-color: transparent;
    color: #bf1818;
  }
}
