.editable-component {
    display: flex;
  
    .button-container {
      align-self: center;
    }

    &-inline {
      display: inline-flex;
    }
  
    .btn {
      &.btn-editable {
        margin-left: 5px;
        color: white;
        font-size: 12px;
      }
    }
  }