@import '../../../styles/variables';

a {
 &:hover, &:focus {
   text-decoration: none;
 }
}

/* SINGLE CARD STYLES*/
.app-card {
  border: none;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  ;

  .card-block {
    padding-top: 8px;

   .card-subtitle {
     margin: 0;
     font-weight: 500;
     font-size: 12px;
     text-transform: uppercase;
    //  color: #484848;
    color: #fa683c
   }

   .card-title {
     font-size: 19px;
     margin: 3px 0;
     color: #fa683c;
   }

   .card-text {
     font-size: 14px;
     font-weight: 300;
     color: #fa683c;
     margin-bottom: 0;
   }
 }
} 