

<section
*ngIf="rental && rental._id"
id="rentalDetails">
<div class="upper-section">
  <div class="row">
    <div class="col-md-6">
      <img [src]="rental.image" alt="">
    </div>
    <div class="col-md-6">
      <app-map
        [mapNotifier]="locationSubject"
        [location]="rentalLocation">
      </app-map>
    </div>
  </div>
</div>

<div class="details-section">
  <div class="row">
    <div class="col-md-8">
      <div class="rental">
        <div class="rental-type type-{{rental.category}}">
          Shared:
          <app-editable-select
            (entityUpdated)="updateRental($event)"
            [options]="[true, false]"
            [entity]="rental"
            [field]="'shared'"
            [inline]="true"
            className="rental-shared">
          </app-editable-select>

        <app-editable-select
          (entityUpdated)="updateRental($event)"
          [options]="rentalCategories"
          [entity]="rental"
          [field]="'category'"
          className="rental-category">
        </app-editable-select>
        </div>
        <app-editable-input
          (entityUpdated)="updateRental($event)"
          [entity]="rental"
          [field]="'title'"
          className="rental-title">
        </app-editable-input>

        <app-editable-input
          (entityUpdated)="updateRental($event)"
          [entity]="rental"
          [field]="'city'"
          [transformView]="transformLocation"
          className="rental-city-input">
        </app-editable-input>

        <app-editable-input
          (entityUpdated)="updateRental($event)"
          [entity]="rental"
          [field]="'street'"
          [transformView]="transformLocation"
          className="rental-city-input">
        </app-editable-input>

        <div class="rental-room-info">
          <span>
            <i class="fa fa-building"></i>
            <app-editable-input
              (entityUpdated)="updateRental($event)"
              [entity]="rental"
              [type]="'number'"
              [field]="'numOfRooms'"
              [inline]="true"
              className="">
            </app-editable-input> bedrooms
          </span>
          <span class="item"><i class="fa fa-user"></i>{{countBedroomsAssets(4)}} guests</span>
          <span class="item"><i class="fa fa-bed"></i>{{countBedroomsAssets(2)}} beds</span>
        </div>
        <app-editable-textarea
        (entityUpdated)="updateRental($event)"
        [entity]="rental"
        [field]="'description'"
        [rows]="5"
        [cols]="60"
        className="rental-description-input">
      </app-editable-textarea>
        <hr>
        <div class="rental-assets">
          <h3 class="title">Assets</h3>
          <div class="row">
            <div class="col-md-6">
              <!-- TODO: Update FA! -->
              <span><i class="fa fa-asterisk"></i> Cooling</span>
              <span><i class="fa fa-thermometer"></i> Heating</span>
              <span><i class="fa fa-location-arrow"></i> Iron</span>
            </div>
            <div class="col-md-6">
              <span><i class="fa fa-desktop"></i> Working area</span>
              <span><i class="fa fa-cube"></i> Washing machine</span>
              <span><i class="fa fa-cube"></i> Dishwasher</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>