<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">HolidayHomes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="form-inline my-2 my-lg-0 mr-auto">
      <input
        #citySearch 
        (keyup.enter)="search(citySearch.value)"
        class="form-control mr-sm-2 app-search" 
        type="search" 
        placeholder="Search" 
        aria-label="Search">
      <button 
        (click)="search(citySearch.value)"
        class="btn btn-outline-success my-2 my-sm-0 app-btn-main" >Search</button>
    </div>
    <ul class="navbar-nav">
      <li *ngIf="isAuthenticated" class="nav-item active">
        <div class="nav-link">Hello {{username}}!</div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <ng-container *ngIf="isAuthenticated else notAuthMenu">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="manage/rentals">My Rentals</a>
            <a class="dropdown-item" routerLink="manage/bookings">My Bookings</a>
            <a 
              class="dropdown-item" 
              [queryParams]="{type: 'received'}"
              routerLink="manage/bookings">Received Bookings</a>
          </div>
        </li>
        <li class="nav-item">
          <a (click)="logout()" class="nav-link">Logout</a>
        </li>
      </ng-container>
      <ng-template #notAuthMenu>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
<!-- Hero Section -->
<div  style="height: 90vh; background-image: url(https://img.freepik.com/free-vector/couple-going-holiday-vacation-around-world-journey-travel-agency-tour_335657-2497.jpg?w=2000); background-size: cover; background-position: center;" class="position-relative w-100">
  <div class="position-absolute text-white d-flex flex-column align-items-start justify-content-center" style="top: -39px;; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.7);">
    <div class="container">
      <div class="col-md-6">
        <span style="color: #bbb;" class="text-uppercase">SubHeadline</span>
        <!-- on small screens remove display-4 -->
        <h1 class="mb-4 mt-2 display-4 font-weight-bold">Enter Your <span style="color: #bf1818 ;">Headline Here</span></h1>
        <p  style="color: #bbb;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eos ea, cum quae facilis optio impedit tempora aliquam at eveniet?</p>
        <div class="mt-5">
          <!-- hover background-color: white; color: black; -->
          <a href="#" class="btn px-5 py-3 text-white mt-3 mt-sm-0" style="border-radius: 30px; background-color: #bf1818 ;">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>
     
<!-- Credit: Componentity.com -->
<a href="https://componentity.com" target="_blank" class="block">
  <img src="http://codenawis.com/componentity/wp-content/uploads/2020/08/logo-componentity-%E2%80%93-9.png" width="120px" class="d-block mx-auto my-5">
</a>