@import '../../../styles/variables';

.bg-light{
  background-color: #414e57!important;
}

.navbar {
  padding: 20px;
  margin-bottom: 40px;

  .app-search {
    height: 50px;
    width: 300px;
  }
 .nav-link{
  color: #bf1818;
  font-weight: 700;
 }
  .navbar-brand {
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #f9602f;
    font-weight: 500;

    img {
      margin-top: 15px;
      height: 20px;
    }
  }
  .nav-search-btn{
    color: #ffffff;
    border-color: #f9602f
  }

  .nav-item {
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
  .dropdown-item {
    font-size: 14px;

    &:active, &:focus {
      background-color: $main-color;
    }
  }
  .btn.app-btn-main-search {
    border-color: #FECD45;
    color: #FECD45;
  
    &:hover, &:focus, &:active {
      background-color: #FECD45;;
      border-color: #FECD45;
      color: white;
      box-shadow: none;
    }
  }
}
